body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 1%;
}

nav {
    display: block;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

li {
    display: list-item;
    text-align: right;
}

